html, body{
    height: 100vh;
    width: auto;
    background-color: #FDC50D;
    margin:0;
}

#nav{
    display: flex;
    justify-content: center;
    background-color:rgb(0,0,0, 0.2);
    height: 15vh;
    width: 100vw;
}

#jumbotronTopo{
    height: 85vh;
    color: white;
}


#imagens{
    height: 100%;
    width: auto;
}

#about{
    display: flex;
    background-color: white;
    align-self: center;
    width: 100vw;
}

#jumbotronAbout{
    height: 85vh;
    color: black;
}

#service{
    height: 85vh;
    color: white;
    text-align: center;
}