body{
    height: 100vh;
    width: auto;
    background-color: #FDC50D;
    margin: 0;
}

#nav{
    display: flex;
    justify-content: center;
    background-color:rgb(0,0,0, 0.2);
    height: 15vh;
    width: 100vw;
}

#jumbotronTopo{
    height: 85vh;
    width: 40vw;
    color: white;
    align-self: center;
}

#imagens{
    display: flex;
    height: 50vh;
    align-items: right;
    align-self: center;
}

#imgBanner{
    height: 100%;
    width: auto;
}

#about{
    display: flex;
    background-color: white;
    align-self: center;
    width: 100vw;
}

#jumbotronAbout{
    height: 85vh;
    width: 40vw;
    align-self: center;
    color: black;
}