html, body{
    height: 100vh;
    width: auto;
    background-color: #FDC50D;
    margin:0;
}

#naveg{
    display: flex;
    justify-content: center;
    background-color:rgb(0,0,0, 0.2);
}

#about, #veterinar, #squad, #posts{
    display: flex;
    height: auto;
    width: 100vw;
    background-color: white;
    align-items: center;
    color: black;
}

#topo, #service, #shop{
    display: flex;
    height: auto;
    width: 100vw;
    color: white;
    align-self: center;
    text-align: center;
}

#health{
    background-color: #FDC50D;
    display: flex;
    height: 90vh;
    width: 100vw;
    align-items: center;
    text-align: center;
    color: white;
}

#rodape{
    display: flex;
    background-color: #353535;
    align-items: center;
    color: white;
    height: 60vh;
    width: 100vw;
}