html, body{
    height: 100vh;
    width: auto;
    background-color: #FDC50D;
    margin:0;
}

#nav{
    display: flex;
    justify-content: center;
    background-color:rgb(0,0,0, 0.2);
    height: 15vh;
    width: 100vw;
}

#about, #veterinar, #squad{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: white;
    align-items: center;
    color: black;
}

#topo, #service, #shop{
    display: flex;
    height: auto;
    width: 100vw;
    color: white;
    align-self: center;
    text-align: center;
}